.qualities_container{
    padding: 7rem 0 3rem 0;
    text-align: center;

    .d-inline-flex:last-child{
        margin-top: 2rem;
    }

    h1{
        font-weight: bolder;
        margin-bottom: 1rem;
    }

    .butons{
        flex-wrap: wrap;
    }
}

