.qbutton{
    padding: 12px;
    width: fit-content;
    border: none;
    background-color: #4590f6;
    border-radius: 10px;
    margin-left: 1rem;
    color: rgba(253, 249, 249, 0.856);
    font-weight: 500;

    .qbutton_icon{
        width: 45px ;
        height: 45px;
        margin-right: 4px;
    }

}

.qbutton:hover{
    transform: scale(1.1);
    transition: 0.5s;
   
    
}