.freqently_container{
    padding: 7rem 0 3rem 0;
    width: 60% !important;
    font-size: 1.2rem;

    h1{
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .accordion-item{
        padding-bottom: 0.3rem !important;
        color: black !important;
        margin-bottom: 2rem;

        .accordion-body{
            font-size:medium;
            color: rgba(0, 0, 0, 0.374);
        }
    }

    .accordion-button{
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.accordion-button:focus{
    box-shadow: none !important;
    background-color: transparent !important;
    color: black !important;
}

@media only screen and (max-width: 600px) {
.freqently_container{
    width: 90% !important;
    font-size: 1rem;
    padding: 0;
    margin-top: 2rem;
}    
}


