.freqently_container{
    padding: 7rem 0 3rem 0;
    width: 60% !important;
    font-size: 1.2rem;

    h1{
        text-align: center;
        font-weight: bold;
    }

    .accordion-item{
        border-bottom: 2px solid !important;
        padding-bottom: 0.5rem !important;
        color: black !important;
    }

    .accordion-button{
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.accordion-button:focus{
    box-shadow: none !important;
    background-color: transparent !important;
    color: black !important;
}



