.home
.backtopcontainer{
background-color: #4590f6 ;
width: 40px;
text-align: center;
color: rgba(253, 249, 249, 0.856);
border-radius: 100px;
height: auto;
line-height: 40px;
cursor: pointer;
position: fixed;
right: 40px;
bottom: 30px;
transition: 2s;




.fa-arrow-up{
    font-weight: bolder;
    
}
}


.search_container{
    width: 50%;
    position: absolute;
    top: 0;
    padding: 2rem;
}