.hero_container{
    padding: 3rem;
    background: url("../../Images/net.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    .first_text{
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .second_text{
        font-size: 4vw;
        font-weight: bold;
    }

    .third_text{
        font-weight: 400;
        margin-bottom: 2rem;
    }
    .listing{
        justify-content:space-between;
        width: 80%;
    }

    .listing span{
        font-size: 1.3rem;
        font-weight: 100;
    }

    .briefing{
        margin-top: 2rem;
    }

}

.fa-earth-americas{
    margin-left: 6px;
}
 
.animate__animated.animate__zoomIn {
    --animate-duration: 4s;
  }

  @media only screen and (max-width: 600px) {
    .hero_container{
        text-align: center;
        width: 100%;
        position: relative;

        .second_text{
            font-size: 6vh;
            max-width: 100%;
            font-weight: bolder;
        }

        .third_text{
            width: 100%;            
        }
        .briefing{
            margin-bottom: 3rem;
        }
        .listing{
            span{
                font-size: 95%;
            }
        }
    }

  }


  .animate__zoomIn{
    --animate-duration: 1s;
  }
