.hero_container{
    padding: 3rem;
    background: url("../../Images/net.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    .first_text{
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .second_text{
        font-size: 5vw;
        font-weight: bold;
    }

    .third_text{
        font-weight: 400;
        margin-bottom: 2rem;
    }
    .listing{
        justify-content:space-between;
        width: 80%;
    }

    .listing span{
        font-size: 1.3rem;
        font-weight: 100;
    }

    .briefing{
        margin-top: 2rem;
    }

}

.fa-earth-americas{
    margin-left: 6px;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 4s;
  }