nav {
  padding: 2rem !important;
  font-size: larger;
  font-weight: 500;

  .navbar-brand img {
    width: 50px;
    animation: App-logo-spin infinite 10s linear;

  }
  .menu-div{
    justify-content: space-between;
    width: 130px;
    align-items: center;

    .searchonNav{
      padding: 5px;
      border-radius: 5px;
      color: black;
      text-align: center;
      width: 50px;
      height: 25px;
      cursor: pointer;
    }

    .bars{
      font-size: 2rem;
      padding: 5px;
      border-radius: 5px;
      color: black;
      opacity: 0.4;
      text-align: center;
      width: 50px;
      height: 28px;
      cursor: pointer;
    }
    .navbar-toggler{
      border: none !important;
      
    }

  }


  .nav-item {
    margin: 0 10px 0 10px !important;
    transition: color 0.3s linear, opacity 0.3s linear, 0.3s linear;
    position: relative;
    width: fit-content;


    .nav-link {
      color: rgb(194, 200, 207);
    }
  }

  // .nav-item:hover {
  //   transform: scale(1.1);
  //   transition: 0.1s;
  // // }.link {
  //   color: inherit;
  //   display: inline-block;
  //   vertical-align: top;
  //   position: relative;
  //   padding: 0 0 2px;
  //   text-transform: none;
  //   text-decoration: none;
  //   transition: color 0.3s linear, opacity 0.3s linear, 0.3s linear;
  // }
  
  .nav-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 60%;
    right: 60%;
    background-image: linear-gradient(to right, #458ff6b6, #00a9b0);
    transition: left .3s linear, right .3s linear;
  }
  .nav-item:hover:before {
    left: 0;
    right: 0;
  }

  .navSearchContainer {
    border: 1px solid gray;
    width: 250px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    .flexer {
      width: 100% !important;
      justify-content: space-between;
      padding: 5px;
      color: gray;

      .firstPart {
        width: 50%;
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;

        .searchIcon {
        }
      }
      .secondPart {
        width: 30%;
        display: inline-flex;
        justify-content: space-evenly;

        .commandIcon,
        .alphabetK {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;
          padding: 10px;
          border-radius: 5px;
          box-shadow: 0px 1px 0px 2px rgba(128, 128, 128, 0.75);
          -webkit-box-shadow: 0px 1px 0px 2px rgba(128, 128, 128, 0.75);
          -moz-box-shadow: 0px 1px 0px 2px rgba(128, 128, 128, 0.75);
          opacity: 0.6;
          font-size: small !important;
        }
      }
    }
  }
}

.fixed-top {
  background-color: #fff !important;
  border-bottom: 1px solid #4590f6;
  transition: 0.8s;
}

.navbar {
  transition: 0.5s;
  background-color:hsl(0, 0%, 96%);
  z-index: 6;
}

.iconImage{
  width: 30px;
  cursor: pointer;
}

.centeritems {
  align-self: center !important;
  width: 85% !important;
  justify-content: center !important;
}

.active {
  color: #458ff6b6 !important;
  font-weight: bold;
  transition: 0.5ms;
}

// Media Screens

nav {
  font-size: 100%;
  padding: 1rem !important;

  @media only screen and (max-width: 600px) {
    .navbar-brand img {
      width: 40px;
    }

    .centeritems {
      margin-top: 5%;
    }

    form {
      position: absolute;
      right: 5%;
      top: 75%;
    }

    .active {
      width: fit-content;
    }
  }

  .mini_search_button {
    cursor: pointer;
    transition: 0.2s;
    padding: 5px;
    border-radius: 5px;
    color: #4590f6;
    border: 1px solid;
    display: flex;
    align-items: center;

    .navSearchIcon {
      font-size: 1rem !important;
      padding: 3px;
    }
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
