.project_container{
    padding: 3rem !important;
    margin-top: 4rem;
    text-align: center;

    .project_header{
        font-family: 'RubikMonoOne-Regular';
        text-align: center;
    }

    .project_sample_container{
      margin-bottom: 3rem;
    }
}

.card{
  padding: 2rem;

  img:hover{
    transform: scale(0.9);
    transition: 0.5s;
  }
}
 

