*{
  font-family: 'SourceSerifPro-Regular';
}
@font-face {
  font-family: SourceSerifPro-Regular;
  src: local("SourceSerifPro-Regular.ttf"),
    url("./Fonts/SourceSerifPro-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: RubikMonoOne-Regular;
  src: local("RubikMonoOne-Regular.ttf"),
    url("./Fonts/RubikMonoOne-Regular.ttf") format("TrueType");
}



